<h1>About</h1>
<p>Version 1.0.0</p>
<h6>StoryTeller is an application to share your life among your peers.</h6>
<br>

<h6>Created By Cse-B 4th Year batch 2017-2021 of BPIT as a Minor Project.</h6>

<br>

<h6>Group Number G-34 -->Under the Guidance of Ms. Minakshi Dhamija and Ms. Nikita Nhijwan</h6>
